﻿.codigo {
    background-color: #49483e;
    color: #fff;
    padding: 50px 15px;
    font-size: 17px;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.4);
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}
