﻿.mCirco {
    width: 50px;
    height: 50px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    background: green; 
    text-align:center;
    color:white;
    position:center;
    font-size:35px;
}


